@model IEnumerable<Domain.Core.Education.Statement>

@{
    ViewData["Title"] = "StatementsByDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

@foreach (var t in Model) { 

    <p>@t.Guid</p>
    <p>@t.Date.Kind.ToString()</p>
}

